<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@100;300;400;500;700&family=Noto+Serif&family=Ubuntu:wght@300;400;700&family=Vollkorn&display=swap" rel="stylesheet">
    <title>To-Do List</title>
  </head>
  <body>
    <div class="box" id="heading">
    <h1><%= toDay %></h1>
    </div>

    <div class="box">

      <% for(let i=0; i<newListItems.length; i++){ %>
          <div class="item">
        <input type="checkbox">
        <p><%= newListItems[i] %></p>
        </div>
    <%  } %>



      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="button">+</button>
        </form>
    </div>

  </body>
</html>
